# Análise de Vendas de Cafés - Limpeza e Tratamento dos Dados

### Setup

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('coffee_sales.csv')
df.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

### Limpeza e Transformação dos Dados

#### Buscando valores nulos

In [3]:
df.isna().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [4]:
# Mostrando valores nulos para entender a falta de dados
df.loc[df['card'].isna()].head()

,date,datetime,cash_type,card,money,coffee_name
12,2024-03-02,2024-03-02 10:30:35.668,cash,NaN,40.0,Latte
18,2024-03-03,2024-03-03 10:10:43.981,cash,NaN,40.0,Latte
41,2024-03-06,2024-03-06 12:30:27.089,cash,NaN,35.0,Americano with Milk
46,2024-03-07,2024-03-07 10:08:58.945,cash,NaN,40.0,Latte
49,2024-03-07,2024-03-07 11:25:43.977,cash,NaN,40.0,Latte

#### Substituindo valores nulos

In [5]:
df['card'] = df['card'].fillna('Cash')

In [6]:
# Checkando contagem de valores nulos para verificar sucesso na mudança
df.isna().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

#### Checkando formatação dos dados

In [7]:
df.dtypes

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

#### Alterando tipos de dados

In [8]:
df['date'] = pd.to_datetime(df['date'])
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S.%f')
df['cash_type'] = df['cash_type'].astype('category')

In [9]:
# Extraindo horas e minutos
df['time'] = df['datetime'].dt.strftime('%H:%M')

In [10]:
# Checkando nova formatação
df.dtypes

date           datetime64[ns]
datetime       datetime64[ns]
cash_type            category
card                   object
money                 float64
coffee_name            object
time                   object
dtype: object

In [11]:
# Deletando coluna Datetime
df = df.drop(['datetime'], axis=1)

### Exportando tabela como Excel

In [12]:
df.to_excel('vendas_cafe_limpo.xlsx', index=False)